<div class="main">
    <div class="mt-5 mb-3 doctor">
        <h4>Doctor Details</h4>
        <img src="./assets/images/doctor1png.png" alt="">
        <h5>Dr.Raj Kumar</h5>
        <p>Department</p>
        <br>
        <p>Email Address:</p>
        <p>someone@gmail.com</p>
        <br>
        <p>Contact Number</p>
        <p>9074XXXXXX</p>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <div class="details mb-3">
            <h2 class="text-center">Appointment Details</h2>
            <p>Appointment No:
                <span class="content">123</span>
            </p>
            <p>Date:
                <span class="content">11-02-2023</span>
            </p>
            <p>Time:
                <span class="content">02:30 PM</span>
            </p>
            <p>Status:
                <span class="content">Completed</span>
            </p>
            <p>Fee:
                <span class="content">300</span>
            </p>
            <button>Cancel Appointment</button>
        </div>
        <div class="completed">
            <h3>Prescription details</h3>
            <div class="prescription">
                <div class="disease">
                    <p><span class="content1 text-center">Disease</span></p>
                    <p>Influenza</p>
                    <br>
                    <p><span class="content1 text-center">Elaboration</span></p>
                    <p>Difficulty breathing</p>
                    <p>Chest pain</p>
                    <p>Seizures</p>
                    <p>Dizziness</p>
                </div>
                <div class="medication text-center">
                    <p><span class="content1">Medication</span></p>
                    <p>Expectorant - 1 tablet</p>
                    <p>2 times per day (after food)</p>
                    <br>
                    <p>Paracetamol-1 tablet</p>
                    <p>2 times per day(after food)</p>
                    <br>
                    <p>Vitamin C - 500g</p>
                    <p>Once per day(after food)</p>
                </div>
            </div>
        </div>
    </div>
</div>