<div class="main row">
    <div class="mt-5 mb-3 doctor col-10 col-lg-3">
        <h4>Doctor Details</h4>
        <img src="./../../../assets/images/doctor-avatar.png" alt="">
        <h5>Dr. {{doctorDetails.name}}</h5>
        <p>{{doctorDetails.departmentName}}</p>
        <hr>
        <p>Email:</p>
        <p>{{doctorDetails.email}}</p>
        <hr>
        <p>Phone Number:</p>
        <p *ngIf="doctorDetails.phoneNumber">{{doctorDetails.phoneNumber}}</p>
        <p *ngIf="!doctorDetails.phoneNumber">Not Updated</p>
        <br>
    </div>
    <div class="container col-10 col-lg-8">
        <div class="details mb-3">
            <h2 class="text-center">Appointment Details</h2>
            <p>Appointment No:
                <span class="content">{{appointmentDetails.appointmentId}}</span>
            </p>
            <p>Date:
                <span class="content">{{appointmentDetails.date}}</span>
            </p>
            <p>Time:
                <span class="content">{{displayTime}}</span>
            </p>
            <p>Appointment Fee:
                <span class="content">{{appointmentDetails.fee | currency: 'INR'}}</span>
            </p>
            <div *ngIf="appointmentDetails.status=='1'">
                <button (click)="cancelAppointment(appointmentDetails.appointmentId)" >Cancel Appointment</button>
            </div>
        </div>
        <div class="completed">
            <h3>Prescription details</h3>
            <form class="my-4">
                <label for="disease">Disease:</label>
                <input type="text" name="disease" class="form-control" [(ngModel)]="appointmentDetails.diseases" disabled>
                <label for="disease">Elaboration:</label>
                <textarea name="elaboration" cols="30" rows="4" class="form-control" name="elaboration"
                    value="{{appointmentDetails.elaboration}}" [(ngModel)]="appointmentDetails.elaboration" disabled></textarea>
                <label for="disease">Medication:</label>
                <textarea name="elaboration" cols="30" rows="6" class="form-control" name="medication"
                    [(ngModel)]="appointmentDetails.medication" disabled></textarea>
            </form>
        </div>
    </div>
</div>