<div class="container">
    <form class="row">
        <div class="col-lg-8 mt-2 mb-2">
            <h1 class="heading d-flex">Enter details:</h1>
            <div class="d-flex">
                <div class="first-details justify-content-between row">
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" required>
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" required>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" required>
                    <label for="Gender">Gender:</label>
                    <select class="Gender justify-content-between row" required>
                        <option value="Select a Gender">Select a Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>s
                    </select>
                </div>
                <div class="second-details justify-content-between row">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="phone">Phone Number:</label>
                    <input type="tel" id="phone" name="phone" required>
                    <label for="address">Current Address:</label>
                    <textarea id="address" name="address" required></textarea>
                </div>
                <div class="third-details justify-content-between row">
                    <div>
                        <h2 class="heading2">Emergency Details</h2>
                        <label for="phone">Emergency Phone Number:</label>
                        <input type="tel" id="phone2" name="phone2" required>
                        <label for="Relationship">Relationship:</label>
                        <select class="Relationship justify-content-between">
                            <option value="Select a Relationship">Select a Relationship</option>
                            <option value="Father">Father</option>
                            <option value="Mother">Mother</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Friend">Friend</option>
                            <option value="Husband">Husband</option>
                            <option value="Wife">Wife</option>
                        </select>
                        <br>
                        <label for=" Blood group">Blood group:</label>
                        <input type="text" id="Blood-group" name="Blood-group" placeholder="eg: O+ve" required>
                    </div>
                </div>
            </div>
            <div class="submit" id="submit">
                <input type="submit" value="Submit">
            </div>
        </div>
        <div class="col-lg-4 imagediv">
        </div>
    </form>
</div>
