<div class="container-fluid">
    <div class="main row">
        <div class="mt-5 mb-3 patient-details col-lg-3">
            <h4>Patient Details</h4>
            <h5>{{patientDetails.name}}</h5>
            <br>
            <p class="pt-2">Email Address:</p>
            <p>{{patientDetails.email}}</p>
            <p class="pt-2">Contact Number:</p>
            <p>{{patientDetails.phoneNumber}}</p>
            <p class="pt-2">Emergency Contact:</p>
            <p>{{patientDetails.emergencyPhoneNumber}}</p>
        </div>
        <div class="container row col-12 col-lg-6">
            <div class="details mb-3 col-10">
                <h2 class="text-center">Appointment Details</h2>
                <p>Appointment No:
                    <span class="content">{{appointmentDetails.appointmentId}}</span>
                </p>
                <p>Date:
                    <span class="content">{{appointmentDetails.date}}</span>
                </p>
                <p>Time:
                    <span class="content">{{appointmentDetails.fromTime}}</span>
                </p>
                <p>Time:
                    <span class="content">{{appointmentDetails.status}}</span>
                </p>
            </div>
            <div class="completed col-10">
                <div class="col-10">
                    <h4>Edit Prescription</h4>
                    <form (ngSubmit)="saveData()">
                        <label for="disease">Disease:</label>
                        <input type="text" name="disease" class="form-control" [(ngModel)]="appointmentDetails.diseases">
                        <label for="disease">Elaboration:</label>
                        <textarea name="elaboration" cols="30" rows="4" class="form-control" name="elaboration" value="{{appointmentDetails.elaboration}}" [(ngModel)]="appointmentDetails.elaboration" ></textarea>
                        <label for="disease">Medication:</label>
                        <textarea name="elaboration" cols="30" rows="6" class="form-control" name="medication" [(ngModel)]="appointmentDetails.medication"></textarea>
                        <button type="submit" class="mt-4 ms-5"  *ngIf="appointmentDetails.status=='1'" >Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>