<div class="holder">
    <div class="row">
        <div class="search-container col-10 col-lg-5 ms-5 ms-lg-1">
            <form class="row ms-1">
                <input type="search" placeholder="Search..." class="col-6 col-lg-7">
                <button type="submit" class="col-5">Search</button>
            </form>
        </div>
        <div class="col-5 d-flex mt-3 ms-5"><button class="details">Details</button>
            <button class="appointments">Appointments</button>
        </div>
    </div>
    <div class="patient-details px-2 px-lg-5 py-5 col-9 ">
        <h1>Patient Details:</h1>
        <div class="patient-info">
            <p><span>Patient Id No:</span> 355</p>
            <p><span>First Name:</span> vicky</p>
            <p><span>Last Name:</span> joseph</p>
            <p><span>Gender:</span> Male</p>
            <p><span>Email:</span> josephvicky02@gmail.com</p>
            <p><span>Blood Group:</span> O+ve</p>
            <p><span>Date of Birth:</span> 19-10-2001</p>
            <p><span>Emergency contact number:</span> 882543115</p>
            <p><span>Relationship:</span> Father</p>
        </div>
    </div>
</div>