<section class="container row">
    <div class="col-5 col-md-3 col-lg-3">
            <div class="container-fluid" id="bgdiv">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 w-100 mt-5">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
                                id="menu">
                                <li class="w-100">
                                    <button class="nav-link px-0 align-middle text-light bg-red w-100"
                                        (click)="clicked($event)" id="upcoming">
                                        <span>Upcoming Appoinments</span>
                                    </button>
                                </li>
                                <li class="w-100">
                                    <button class="nav-link px-0 align-middle text-success" (click)="clicked($event)" id="previous">
                                        <span>Previous Appoinments</span>
                                    </button>
                                </li>
                                <li class="w-100">
                                    <button class="nav-link px-0 align-middle text-success" (click)="clicked($event)" id="cancelled">
                                        <span>Cancelled Appoinments</span>
                                    </button>
                                </li>                         
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-7 col-lg-9">
        <div class="" id="upcomingdiv">
            <h3>Appointment History</h3>
            <table class="table ps-3">
                <thead>
                  <tr class="row bg-dark text-light rounded">
                    <th scope="col" class=" d-none d-lg-inline col-lg-1">Id</th>
                    <th scope="col" class="col-4 col-lg-2">Date</th>
                    <th scope="col" class="d-none d-lg-inline col-lg-2">Time</th>
                    <th scope="col" class="col-4">Doctor's Name</th>
                    <th scope="col" class="col-1 col-lg-2">View details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of appointments" class="row bg-light rounded">
                    <th scope="row" class=" d-none d-md-inline col-lg-1">{{item.id}}</th>
                    <td class="col-5 col-lg-2">{{item.date}}</td>
                    <td class="d-none d-lg-inline col-lg-2">{{item.time}}</td>
                    <td class="col-4">{{item.doctor}}</td>
                    <td class="col-1 col-lg-2"><button class="btn btn-warning">View details</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="d-none" id="previousdiv">previous</div>
        <div class="d-none" id="cancelleddiv">cancelled</div>
    </div>
</section>
