.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #939292;
    border-radius: 10px;
    border-color: 2px solid #000000;
}

input[type="submit"] {
    width: fit-content;
    background-color: #000100;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-content: center;
}

form {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 0 0px 50px;
    border-radius: 40px;
}

textarea {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #939292;
    border-radius: 10px;
    border-color: 2px solid #000100;
}

.imagediv {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../../../assets/images/doctor33.jpg');
    background-size: cover;
    border: 0;
    border-radius: 0 40px 40px 0px;
}

.imagediv div {
    width: 100%;
}

.heading {
    font-size: x-large;
    font-display: initial;
    padding-bottom: 10px;
    font-variant: small-caps;
}

.submit {
    padding-left: 170px;
}

.phone2 {
    width: 90px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #939292;
    border-radius: 10px;
    border-color: 2px solid #000000;
}

.heading2 {
    font-size: x-large;
    font-variant: small-caps;
}

.third-details {

    width: 70vw;
}

.Relationship {
    width: 60%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #939292;
    border-radius: 10px;
    border-color: 2px solid #000000;
}

.Gender {
    width: 60%;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #939292;
    border-radius: 10px;
    border-color: 2px solid #000000;
}