<div class="row footer">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="footer-h4">Get In Touch</div>
        <ul>
            <li><a href="#"><fa-icon class="fs-6" [icon]="faPhone"></fa-icon> &nbsp; +91-9963XXXXXX</a></li>
            <li><a href="#"><fa-icon class="fs-6" [icon]="faMail"></fa-icon>&nbsp;
                    info@mydoctor.com</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="footer-h4">Extra Links</div>
        <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="footer-h4">Extra Links</div>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Careers</a></li>
        </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="footer-h4">Social Links</div><br />
        <div class="white">
            <a href="https://www.facebook.com/" target="_blank"><fa-icon class="fs-3" [icon]="faFacebook"></fa-icon></a>
            &nbsp;
            &nbsp;
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a> &nbsp; &nbsp;
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp; &nbsp;
            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>

</div>