
<div class=" mt-5 ms-lg-5 me-lg-5 main container mb-3">
    <div class=" col-lg-10 p-2 flex mt-0 container">
        <h1 class="text-center">OTP Verification</h1>
        <img src="./assets/images/otppage.png" alt="">
        <form class="flex">
            <p>We have sent an One-Time-Password (OTP) to your registered email address.</p>
            <input type="text" name="otp" placeholder="Enter the 4 digit OTP here" id="otp">
            <div class="content">
                <button>Go Back</button>
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>