<div class="container-fluid h-100 full-page">
    <h2 class="text-center pt-4">Apply for Leave</h2>
        <form class="d-flex flex-column align-items-center justify-content-center mt-5">
            <label for="reason">Reason for leave application:</label>
            <br>
            <select name="reason">
                <option value="personal">Personal Emergency</option>
                <option value="sick">Sick Leave</option>
                <option value="other">Other Reason</option>
            </select>
            <br><br>
            <label for="days">Number of days:</label>
            <br>
            <select name="days">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <br><br>
            <button type="submit">Apply</button>
        </form>
</div>