section {
    padding: 0;
}

section div {
    margin: 0;
}

#bgdiv {
    height: 100%;
    background-color: white;
    padding: 10px;
}

.bg-red {
    background-color: #E64A7A;
    color: white;
}

button {
    margin: 10px 0px;
    transition: 0.5s linear alternate;
}

.appointment-heading{
    margin: 20px 2px;
    color: white;
    font-family: 'kanit', sans-serif;
    text-shadow: 1px 1px #E64A7A;
}