<section class="row container mt-4 ms-0 ms-lg-5">
    <div class="col-10 col-lg-5 flex">
        <img src="./assets/images/registerpage_div.png" alt="">
        <p>Already a user? <span><a href="#">Login here</a></span></p>
    </div>
    <div class="col-1"></div>
    <div class="col-10 col-lg-5 flex mt-4">
        <h2>User Registration</h2>
        <form class="flex">
            <div class="inputdiv">
                <label for="firstname" class="me-lg-5">First Name :</label>
                <input type="text" name="firstname" placeholder="Enter first name" id="firstname">
            </div>
            <div class="inputdiv">
                <label for="lastname" class="me-lg-5">Last Name :</label>
                <input type="text" name="lastname" placeholder="Enter last name" id="lastname">
            </div>
            <div class="inputdiv">
                <label for="email">E-mail :</label>
                <input type="email" class="" name="email" placeholder="Enter E-mail address" id="email">
            </div>
            <div class="inputdiv">
                <label for="password">Password :</label>
                <input type="password" name="password" placeholder="Enter password" id="password">
            </div>
            <div class="inputdiv">
                <label for="cpassword">Confirm Password : </label>
                <input type="password" name="cpassword" placeholder="Re-enter password" id="cpassword">
            </div>
            <div class="inputdiv">
                <label for="role">Role :</label>
                <select name="role" placeholder="Enter role" id="role">
                    <option value="1" default>Patient</option>
                    <option value="2">Doctor</option>
                    <option value="3">Admin</option>
                </select>
            </div>
            <div class="inputdiv">
                <label for="specilization">Specilization :</label>
                <select name="role" placeholder="Enter role" id="role">
                    <option value="0" default>No item selected</option>
                    <option *ngFor="let item of specilization">{{item.spec}}</option>

                </select>
            </div>
            <button class="signup-btn" type="submit">Sign Up</button>
        </form>
    </div>
</section>