<main class="container bg-light">
    <header class="flexalign">
        <p>Welcome, Admin</p>
        <h3>Dashboard</h3>
    </header>
    <section class="row flexalign">
        <div class="col-10 row">
            <h4 class="col-10">User Details</h4>
            <div class="col-10 col-lg-5 bg-success m-2 p-4 rounded">
                <h5>Active Patients</h5>
                <p>{{patientsCount}}</p>
            </div>
            <div class="col-10 col-lg-5 bg-success m-2 p-4 rounded">
                <h5>Active Doctors</h5>
                <p>{{doctorsCount}}</p>
            </div>
        </div>
        <div class="col-10 row">
            <h4 class="col-10">Appointment Details</h4>
            <div class="col-10 col-lg-5 bg-success m-2 p-4 rounded">
                <h5>Upcoming appointments</h5>
                <p>{{upcomingBookingsCount}}</p>
            </div>
            <div class="col-10 col-lg-5 bg-success m-2 p-4 rounded">
                <h5>Completed appointments</h5>
                <p>{{completedBookingsCount}}</p>
            </div>
        </div>
        <div class="col-10 row">
            <h4 class="col-10">Other Details</h4>
            <div class="clickable col-10 col-lg-5 bg-success m-2 p-4 rounded" [routerLink]="['../registration-approval']">
                <h5>Pending registration approvals</h5>
                <p>{{registrationApprovalsCount}}</p>
            </div>
            <div class="clickable col-10 col-lg-5 bg-success m-2 p-4 rounded">
                <h5>Pending leave approvals</h5>
                <p>10</p>
            </div>
        </div>
    </section>
</main>