<div class="holder">
    <div class="row">
        <div class="search-container col-10 col-lg-5 ms-5 ms-lg-1">
            <form class="row ms-1">
                <input type="search" placeholder="Search..." class="col-6 col-lg-7 ">
                <button type="submit" class="col-5">Search</button>
            </form>
        </div>
        <div class="col-5 d-flex mt-3 ms-5"><button class="details">Details</button>
            <button class="appointments">Appointments</button>
        </div>
    </div>
    <div class="patient-details px-2 px-lg-5 py-5 col-9">
        <h1>Doctor Details:</h1>
        <div class="doctor-info">
            <p><span>Doctor Id No:</span> 355</p>
            <p><span>First Name:</span> vicky</p>
            <p><span>Last Name:</span> joseph</p>
            <p><span>Gender:</span> Male</p>
            <p><span>Email:</span> josephvicky02@gmail.com</p>
            <p><span>Blood Group:</span> O+ve</p>
            <p><span>Qualification:</span> MBBS,MD</p>
            <p><span>Specialization:</span> General</p>
            <p><span>Consultation Fee:</span> {{300|currency:'INR'}}</p>
            <p><span>License No:</span> 1298NDJS423</p>
            <div class="request justify-content-between row">
            </div>
            <button type="submit" class="disable rounded bg-warning me-5 ms-5">Disable</button>
            <button type="submit" class="remove rounded bg-danger">Remove</button>
        </div>
    </div>
</div>