<div class="w-100 d-flex flex-column">
    <div class="first">
        <div class="text-area w-50 mt-5 ms-5">
            <h2 class="text-center w-75 ms-5 h-50">Welcome, Doctor!</h2>
            <br><br><br>
            <p class="text-center w-75 ms-5 h-50">Providing you with a single intuitive system that lets you take total
                control of your
                online presence.</p>
            <br><br>
            <p class="text-center w-75 ms-5">Medicines cure diseases, but only doctors can cure patients.</p>
        </div>
    </div>
    <div class="second">
        <h2 class="mt-5 ms-5">Today's Appointments</h2>
        <table class="table ps-3 ms-5 w-75">
            <thead>
              <tr class="row bg-dark text-light rounded">
                <th scope="col" class=" d-none d-md-inline col-1 col-md-1">S.No.</th>
                <th scope="col" class="col-4 col-md-2">Date</th>
                <th scope="col" class="d-none d-md-inline col-md-2">Time</th>
                <th scope="col" class="col-4">Patient's Name</th>
                <th scope="col" class="col-1 col-md-3">View details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of appointments; let i=index" class="row bg-light rounded">
                <th scope="row" class=" d-none d-md-inline col-md-1">{{i+1}}</th>
                <td class="col-4 col-md-2">{{item.date}}</td>
                <td class="d-none d-md-inline col-md-2">{{item.time}}</td>
                <td class="col-4">{{item.patientName}}</td>
                <td class="col-1 col-md-3 w-25"><button class="btn btn-warning" (click)="saveData(item.patientId, item.id)">View details</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>