<nav>
    <div>
        <img src="./assets/images/logo.png" alt="">
        <div class="nav-text">
            <h2>MyDoctor</h2>
            <p class="w-100">Start on the path of healing</p>
        </div>
        <div class="nav-content mt-3">
            <h6><a class="nav-links" [routerLink]="['home']">Home</a></h6>
            <h6><a class="nav-links" [routerLink]="['appointments']">Appointments</a></h6>
            <h6><a class="nav-links" [routerLink]="['leave']">Leave</a></h6>
            <h6><a class="nav-links" href="#">Profile</a></h6>
            <h6><a class="nav-links logout" href="#">Logout</a></h6>
        </div>
    </div>
</nav>