<app-navbar></app-navbar>
<div class="row container-fluid mb-4">
    <div class="col-10 col-lg-5 flex infodiv">
        <img src="./assets/images/Loginpage-clipart.png" alt="" id="Loginpage-clipart">
        <h3>Start on the path of healing...</h3>
        <p>Entrust your health to us, we will care for you</p>
        <h4>24*7 Available</h4>
    </div>
    <div class="col-10 col-lg-1"></div>
    <div class="col-10 col-lg-5 logindiv flex">
        <img src="./assets/images/logo2.png" alt="" id="logo2">
        <h3>User Login</h3>
        <form class="flex" #form="ngForm" (ngSubmit)="saveData()">
            <input type="email" placeholder="Enter your email address" name="email" #email="ngModel" [(ngModel)]="modal.email" required
                minlength="5" maxlength="70" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div class="text-danger" *ngIf="email.invalid && email.touched">
                <div *ngIf="email.errors?.['minlength']">Email is too short.</div>
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['maxlength']">Email is too long.</div>
                <div *ngIf="email.errors?.['pattern']">Email is invalid.</div>
            </div>
            <input type="password" placeholder="Enter your password" name="password" #password="ngModel"
                [(ngModel)]="modal.password" minlength="6" maxlength="25" required>
            <div class="text-danger" *ngIf="password.invalid && password.touched">
                <div *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">Password is wrong.</div>
                <div *ngIf="password.errors?.['required']">Password is required.</div>
            </div>
            <h5><a href="#">Forgot your Password?</a></h5>
            <button [disabled]="email.invalid || password.invalid">Login</button>
        </form>
        <h5>Not Registered Yet? <span><a routerLink="register">SignUp</a></span></h5>
    </div>
</div>