<p>home works!</p>
<div class="w-100 flex flex-column">
    <div class="searchdepartment">
        <div class="searchdepartmentcontents flex">
            <h2>Search Doctor, Make an Appointment</h2>
            <br>
            <p>Best Doctors at the best hospital.</p>
            <p>Search by Department, and Book now.</p>
            <br>
            <div class="flex">
                <div class="searcharea flex">
                    <svg width="20" height="20">
                        <path
                            d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                            stroke="currentColor" fill="none" fill-rule="evenodd">
                        </path>
                    </svg>
                    <input type="search" name="search" id="search" placeholder="Search department">
                </div>
                <button type="submit" name="button" id="button">Search</button>
            </div>
            <p id="hint">Eg: Dentistry, Paediatrics etc.</p>
        </div>
    </div>
</div>