<p>home works!</p>
<div class="w-100 d-flex flex-column">
    <div class="searchdepartment">
        <div class="searchdepartmentcontents d-flex">
            <h2>Search Doctor, Make an Appointment</h2>
            <br>
            <p>Best Doctors at the best hospital.</p>
            <p>Search by Department, and Book now.</p>
            <br>
            <div class="d-flex">
                <div class="searcharea d-flex">
                    <img src="../../../assets/svg/search.svg" alt="">
                    <input type="search" name="search" id="search" class="w-50" placeholder="Search department">
                </div>
                <button type="submit" name="button" id="button">Search</button>
            </div>
            <p id="hint">Eg: Dentistry, Paediatrics etc.</p>
        </div>
    </div>
</div>