<nav>
    <div>
        <img src="./assets/images/logo.png" alt="">
        <div class="nav-text">
            <h2>MyDoctor</h2>
            <p>Start on the path of healing</p>
        </div>
        <div class="nav-content">
            <h6><a href="#" id="nav-links">Home</a></h6>
            <h6><a href="#" id="nav-links">Appointments</a></h6>
            <h6><a href="#" id="nav-links">About us</a></h6>
            <h6><a href="#" id="nav-links">Profile</a></h6>
            <h6><a href="#" class="logout">Logout</a></h6>
        </div>
    </div>
</nav>