.fullscreen {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0px;
    min-height: 90vh;
}

.doctor-info {
    box-shadow: 0px 2px 15px;
    height:80%;
}

.custom-datepicker{
    margin-left: 32%;
}

.time-slots-area {
    width: 90%;
    margin-left: 7em;
}

.time-slot {
    font-size: 0.7em;
    border: none;
    border-radius: 5px;
}

.time-slot:hover,
.time-slot:focus {
    background-color: #E64A7A;
}

.appointment-book {
    width: 22%;
    padding: 0.6em;
    border-radius: 20px;
    border: none;
    background-color: #00C294;
    color: white;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgb(0, 0, 0.5);
    margin: 2em;
    margin-left: 18em;
}

.appointment-book:hover {
    transform: scale(1.05);
}

.doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 200px;
    border: 2px solid rgb(204, 203, 200);
    box-shadow: 10px 5px 5px rgb(151, 143, 143);
}

img {
    height: 100px;
    border: 1px solid black;
}

h4 {
    text-decoration: 1px solid underline;
    margin: 20px 0 20px 0;
}

p {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px)
{
    .doctor{
        height: 60%;
    }
    .fullscreen{
        min-height: 210vh;
    }
    .time-slots-area{
        margin-left: 3.5em;
    }
    .appointment-book{
        margin-left: 8em;
        width: 40%;
        padding: 0.4em;
    }
}